
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="first-name">First Name: </label>
    <input type="text" id="first-name" formControlName="firstName">
    <br>

    <label for="last-name">Last Name: </label>
    <input type="text" id="last-name" formControlName="lastName">

    <!--
        Mediante formGroupName, se reconoce el campo
        address del objeto profileForm.
    -->
    <div formGroupName="address">
        <h2>Address</h2>

        <!--
            Ya dentro del <div> se listan las propiedades
            del formGroup anidado.
        -->
        <label for="street">Street: </label>
        <input type="text" id="street" formControlName="street">
        <br>
        
        <label for="city">City: </label>
        <input type="text" id="city" formControlName="city">
        <br>

        <label for="state">State: </label>
        <input type="text" id="state" formControlName="state">
        <br>

        <label for="zip">Zip Code: </label>
        <input type="text" id="zip" formControlName="zip">
        <br>

    </div>

    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>

</form>

<!--  
    Al pulsarlo actualizará los datos del formulario según el método y
    esto se verán reflejados en el template.
-->
<button type="button" (click)="updateProfile()">Update Profile</button>